[submodule "dhall-c"]
	path = dhall-c
	url = https://github.com/jmars/dhall-c.git
[submodule "vendor/design"]
	path = vendor/design
	url = https://github.com/fixpoint-linux/design.git
[submodule "vendor/mfe-framework"]
	path = vendor/mfe-framework
	url = https://github.com/fixpoint-linux/mfe-framework.git
[submodule "vendor/dhake"]
	path = vendor/dhake
	url = https://github.com/fixpoint-linux/dhake.git
